


/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0; padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}
.sticky-container{
    padding:10px;
    margin:0px;
    position:fixed;
    left:-10px;
    top:30%;
    width:210px;
    z-index: 2000;
    width:14vh;
}
.sticky li{
  /*background-color:yellow;*/
  box-shadow:
    -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
  height:60px;
  margin:10%;
  width:60px;
  list-style:none;
  border-radius:50%;
  color:white;
}
.icon i{
padding:39%;
}
.icon a{
    color:teal
}
/*---------------------------------------------------------------------------------------------------*/
/*.sticky li{
    /*background-color: transparent;
    height:70px;
    padding:0px;
    margin:0px 0px 0px 0px;
    /*-webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;*/
    /*cursor:pointer;
    padding:6%;
}
.sticky li:hover{
    /*margin-right:-24px;*/
/*}
.sticky li span{
 /*   float:right;
    margin:5px 4px;
    margin-right:5px;*/
/*}

.sticky li{
   background:yellow;
   height:100%;
   margin-bottom:10%;
}
.container .icon{
    box-shadow:
    -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
/*    margin:0 5px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.52, -0.50, 0.212, 1.45);*/

/*}

.container .icon span{
    
    /*position: relative;
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 0%;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.52, -0.50, 0.212, 1.45);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);*/
/*}

.container .icon span i{
   /* line-height: 60px;
    font-size: 25px;
    color: #fff;*/
/*}

.container .facebook span,
.container .facebook :before{
  /*  padding-left:5px;
    background: #3b5999;
    color: #fff;*/
/*}

.container .twitter span,
.container .twitter :before{
    /*padding-left:5px;
    background: #46c1f6;
    color: #fff;*/
/*}
.container .instagram span,
.container .instagram :before{
    /*padding-left:5px;
    background: #e1306c;
    color: #fff;*/
/*}