


/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0; padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.sticky-container{
    padding:10px;
    margin:0px;
    position:absolute;
    left:-130px;
    top:120px;
    width:210px;
    z-index: 1100;
}

.sticky li{
    background-color: transparent;
    height:70px;
    padding:0px;
    margin:0px 0px 0px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-right:-24px;
}
.sticky li span{
    float:right;
    margin:5px 4px;
    margin-right:5px;
}

.container .icon{

    margin:0 5px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.52, -0.50, 0.212, 1.45);
}

.container .icon span{
    
    position: relative;
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 0%;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.52, -0.50, 0.212, 1.45);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.container .icon span i{
    line-height: 60px;
    font-size: 25px;
    color: #fff;
}

.container .facebook span,
.container .facebook :before{
    background: #3b5999;
    color: #fff;
}

.container .twitter span,
.container .twitter :before{
    background: #46c1f6;
    color: #fff;
}
.container .instagram span,
.container .instagram :before{
    background: #e1306c;
    color: #fff;
}