*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: url(../img/login\ background.webp);
    background-size: cover;
    font-family: "Raleway", sans-serif;
}
.heading{
  margin-top: 50px;
  margin-left: 570px;
  font-size: 300%;
}
main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 330px;
    width: 330px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 2px solid #FFFFFF18;
    overflow: hidden;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.signin_signup{
    height: 60px;
    width: 100%;
    display: flex;
    z-index: 2;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
}
hr{
    margin: 10px 0;
    border-color: #00c950;
}
.signUpForm{
    display: none;
}
.signIn{
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.377);
    font-weight: 700;
}
form i{
    position: absolute;
    margin: 25px 10px;
    color:#00c950 ;
}
input{
    width: 300px;
    height: 3em;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
    padding: 0 30px;
}
input:focus{
    outline: 2px solid #00c950;
}
.btn{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin: 10px;
    outline: none;
    border-radius: 5px;
    /* border: 2px solid #00c950; */
    border: none;
    background: #00c950;
    box-shadow: 2px 2px 40px green;
    box-shadow: 2px 2px 50px rgb(57, 83, 60);
}
.btn:hover {
    background: #fff;
    color: #00c950;
}

.forpass{
  margin: 20px;
}

.forpass a{
  text-decoration: none;
  color: #084922;
}


/*--------------------------------------------------------------
# Preloader Styling
--------------------------------------------------------------*/
@font-face {
    font-family: "curly";
    src: url(../webfonts/Yellowtail-Regular.ttf);
  }
  
  .preloader {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: fixed;
    border-spacing: 30px;
    border: 10px double rgb(255, 0, 0);
  }
  .preloader-icon {
    text-align: center;
    color: red;
  }
  .preloader-icon h2 {
    font-family: "curly";
    letter-spacing: 2px;
    font-size: 4rem;
    animation: fade 3s ease-in;
    font-weight: 100;
  }
  
  .preloader-icon h1 {
    font-size: 13rem;
    animation: spin 2s both infinite;
    font-weight: 100;
  }
  

  @keyframes spin {
    0% {
      transform: rotateY(0);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  