@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #f3f3f3;
  --color-black: #000000;
  --color-darkblue: #796ec8;
  --color-darkblue-alpha: rgba(13, 138, 187, 0.8);
  --color-green: #21eb6e;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
  padding: 1rem;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #64b3f4,
    #c2e59c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #64b3f4,
    #c2e59c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#title {
  color: var(--color-darkblue-alpha);
  font-weight: 600;
  font-size: 4rem;
}
h1 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  font-size: 1.125rem;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
  padding: 1.8rem 1rem;
}
.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  text-align: center;
}
.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}
#quest {
  color: rgb(241, 191, 98);
  font-size: 1, 5rem;
}
form {
  background: var(--color-black);
  border-radius: 3.25rem;
}

@media (min-width: 478px) {
  form {
    padding: 2.5rem;
  }
  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  .formControl {
    display: block;
    width: 100%;
    height: 2.35rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .formControl:focus {
    border-color: blue;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 25);
  }
  .inputRadio,
  .checkbox {
    display: inline-block;
    margin-right: 00.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  .textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.15rem;
    outline: none;
    border-color: blue;
    border-radius: 5px;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(13, 13, 15);
    border: none;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 800px) {
  .container {
    max-width: 760px;
  }
}
